* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.display-none {
    display: none;
}

.container {
    position: relative;
    height: 400px;
    border: 2px solid #006100;
}

#start-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


canvas {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


#start-intro p {
    font-size: 18px;

}

.start-img {
    width: 300px;
}

.arrows-img {
    width: 150px;
}

body button {
    font-size: 30px;
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}



#win-game {
    display: none;
    position: fixed;
    width: 596px;
    height: 337px;
}

#win-game img {
    width: 496px;
    height: 237px;
}

#game-over {
    display: none;
    position: fixed;
    width: 481px;
    height: 267px;
}

#game-over img {
    width: 481px;
    height: 267px;
}